<div class="banner">
    <a href="http://eeagrants.org/" target="_blank">
        <img src="images/organizations/logo_eea.png" alt="logo eea">
    </a>
    <a href="http://www.fcm.unl.pt/" target="_blank">
        <img src="images/organizations/logo_unl.png" alt="logo eea">
    </a>
    <a href="http://www.ensp.unl.pt/" target="_blank">
        <img src="images/organizations/logo_ensp.png" alt="logo eea">
    </a>
</div>
<div class="footer-view-container">
    <div class="footer-wrapper">
        <div class="phone">
          {{i18n.phone}}
        </div>
        <div class="email">
          {{i18n.email}}
        </div>
        <div class="address">
          {{i18n.address}}
        </div>
    </div>
    <div class="footer-wrapper contacts">
        <div class="phone-widget">
            <a href="tel:{{i18n.phoneReadyToCall}}">
                <img src="images/icons/phone-outline.png" alt="phone icon">
            </a>
        </div>
        <div class="email-widget">
            <a href="{{fid}}{{i18n.route.contacts}}">
                <img src="images/icons/email-outline.png" alt="email icon">
            </a>
        </div>
        <div class="facebook-widget">
            <a href="https://facebook.com/mentalhealthportugal" target="_blank">
                <img src="images/icons/facebook-outline.png" alt="facebook icon">
            </a>
        </div>
    </div>
</div>
