{{!--
  {{#each data.posts}}
      <a href="{{custom_fields.file_url}}" target="_blank">{{title}}</a>
  {{/each}}
--}}



<aside class="landing-view-aside landing-description">
    <h1>{{t 'title'}}</h1>
    <h2>{{t 'subtitle'}}</h2>
    <div class="divider"></div>
    <p>{{t 'tagline'}}</p>
    <div class="navigate">
      <a href="{{fid}}{{i18n.route.home}}">{{t 'more'}}</a>
    </div>

</aside>

<aside class="landing-view-aside landing-logo">
    <div class="landing-logo" alt="Mental health logo"></div>
</aside>
