{{!--

<div class="date-label">
  <p class="day">{{data.day}}</p>
  <p class="month">{{data.month}}</p>
</div>

<div class="thumbnail" style="background-image:url('{{data.thumbnail}}')"></div> --}}

<div class="description">{{noHTML data.content}}</div>

<div class="info">
    <div class="when">
        <div class="icon"></div>
        {{data.when}}
    </div>
    <div class="where">
        <div class="icon"></div>
        {{data.where}}
    </div>
</div>
